.main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url("../../background2.jpg");
    background-position: center;
    background-size: cover;
}

.title{
    font-size: 72px;
}
.subtitle {
    font-size: 20px;
    padding-top: 30px;
}
.intro-text{
    width: 100%;
    text-align: center;
}
.buttonContain{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
}

.LandingButton{
    width: 200px;
    height:55px
}

@media only screen and (min-width:1200px) {
    .buttonContain{
        padding: 50px 200px 0px 200px;

    }
    .title{
        padding: 0 150px;
    }
}
@media only screen and (max-width:750px) {
    .LandingButton{
        width: 150px;
        height: 50px;

    }
    .title{
       font-size: 50px;
    }
}
